/*****************************************************
 * Variables
 *****************************************************/
/*
  Media query breakpoints
*/
$breakpoint-tablet: 774px; /* phone <-> tablet */
$breakpoint-small: 1024px; /* tablet <-> small desktop */
$breakpoint-full: 1280px;  /* small desktop <-> full desktop */

:root {
  --header-background-colour: rgb(27, 45, 75);
  --heading-colour: rgb(192, 148, 41);
  --background-colour: white;
  --text-colour: black;

  // colours
  --input-border: rgb(2, 2, 3);
  --link-colour: var(--header-background-colour);
  --shadow-colour: rgba(27, 45, 75, .5);
  --highlight-colour: rgb(192, 148, 41);
  --highlight2-colour: rgb(255, 225, 151);
  --highlight3-colour: rgb(83,136,142);
  --highlight3-colour-faded: rgba(83,136,142,0.1);
}

/*****************************************************
 * General Styles
 *****************************************************/

* {
  box-sizing: border-box;
}

body {
  background-color : var(--background-colour);
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  color: var(--text-colour);
}

blockquote {
  margin: 2rem;
  font-style: italic;
  font-size: 1rem;
  @media (min-width: $breakpoint-tablet) {
    font-size: 1.3rem;
  }
  &::before,
  &::after {
    content: '"';
  }
}

form {
  width: 100%;
  > div {
    position: relative;
    margin: 1rem auto;
    text-align: left;
    font-size: 1rem;
    @media (min-width: $breakpoint-tablet) {
      width: 80%;
      max-width: 600px
    }
    @media (min-width: $breakpoint-small) {
      max-width: 800px
    }
    p {
      text-align: left;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      &.error {
        color: rgb(139, 0, 0);
      }
      &.success {
        color: rgb(100, 247, 100);
      }
    }
    input, textarea {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 3rem;
      border: 1px solid var(--input-border);
      padding: 1.5rem 1.5rem .5rem;
      &:focus,
      &:hover {
        outline-style: none;
        border-color: var(--highlight-colour);
      }
      &:hover + label {
        color: var(--highlight-colour);
      }
      &:focus + label,
      &.hascontent + label {
        font-size: .8rem;
        top: 4px;
        color: rgb(150, 150, 150);
      }
      transition: all .2s ease-in-out;
    }
    textarea {
      height: 15rem;
    }
    label {
      position: absolute;
      top: 1rem; left: 1.5rem;
      text-align: left;
      font-size: 1rem;
      pointer-events: none;
      transition: all .2s ease-in-out;
    }
  }
}
button, a.button {
  display: block;
  width: 100%;
  background: none;
  color: var(--highlight-colour);
  background-color: var(--highlight2-colour);
  border: 2px solid var(--highlight-colour);
  padding: 1rem 1.7rem 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .3rem;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: var(--text-colour);
    border-color: var(--input-border);
  }
  transition: all .4s ease-in-out;
}

/*****************************************************
 * Page Structure
 *****************************************************/
 
 header {
  background-color : var(--header-background-colour);
  &::before,
  &::after {
    content: " ";
    display: table;
    clear: both;
  }

  h1 {
    float: left;
    margin: 15px 0 15px 1em;
    padding: 0;
    img {
      height: 56px;
      padding: 0;
      margin: 0;
      display:block;
      @media (min-width: $breakpoint-tablet) {
        height: 70px;
      }
      @media (min-width: $breakpoint-small) {
        height: 96px;
      }
    }
  }

  #menu_collapser {
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
    display: block;
    float: right;
    margin: 2em;
    padding-bottom: .4em;
    color: #EEE;
    border-bottom: 1px solid #EEE;
    transition: color .3s, border-color .3s;
    cursor: pointer;
    &:hover,
    &.open {
      color: rgb(192, 148, 41);
      border-bottom-color: rgb(192, 148, 41);
    }
  }

  nav {
    display: none;
    clear: both;
    @media (min-width: $breakpoint-tablet) {
      display: block !important;
      clear: none;
      float: right;
      margin: 2em 2em 2em 0;
      padding: 0;
    }
    @media (min-width: $breakpoint-small) {
      margin-top: 2.7em;
    }
    &.open {
      display: block;
    }
    ul {
      margin: 0;
      padding: 0 0 0 2em;
      li {
        margin-right: 1.2em;
        display: block;
        text-align:center;
        @media (min-width: $breakpoint-tablet) {
          display: inline-block;
          border-bottom: 1px solid #EEE;
          &:last-of-type {
            margin-right : 0;
          }
          &.selected,
          &:hover {
            border-bottom-color: rgb(192, 148, 41);
            transition: border-color .3s;
          }
        }
        a {
          font-size: .9rem;
          line-height: 2em;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          color: #EEE;
          transition: color .3s;
        }
        &.selected a,
        &:hover a {
          color: rgb(192, 148, 41);
        }
      }
    }
  }
}


main, footer {
  width: 90%;
  margin: 2em auto;
  @media (min-width: $breakpoint-small) {
    width: 80%;
    margin: 3em auto;
  }
  @media (min-width: $breakpoint-full) {
    width: 70%;
  }
}

main {
  h1 {
    font-size: 2em;
    font-weight: 400;
    margin: .3em 0 .7em;
    text-align: center;
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
  h2 {
    margin: 2rem 0 1rem;
    color: var(--highlight-colour);
    border-bottom: 1px solid var(--highlight-colour);
    font-size: 1em;
    font-weight: 400;
    @media (min-width: $breakpoint-tablet) {
      font-size: 1.2em;
    }
  }
  h3 {
    clear: left;
  }
  h4 {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
  h5 {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
  }
  p {
    margin-bottom: 2em;
  }
  p, li {
    font-size: .8em;
    line-height: 1.7em;
    @media (min-width: $breakpoint-tablet) {
      font-size: 1em;
    }
  }
  em {
    font-weight: 700;
  }
  a {
    color:var(--link-colour);
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    // list-style: "🌻 ";
    padding-left: 1.5em;
    li {
      margin-bottom: .5em;
    }
  }
  img {
    float: right;
    box-sizing: content-box;
    margin: 0;
    border-style: solid;
    border-color: var(--background-colour);
    border-width: 0 0 1em 1em;
    max-width: 40%;
    @media (min-width: $breakpoint-tablet) {
      max-width: 30%;
    }
    &.main {
      max-width: 50%;
    }
  }
  a.kayaklink {
    display: block;
    text-align: center;
    > img {
      float: none;
      border: none;
      width: 130px;
      height: 130px;
      max-width: none;
    }
  }
  .workshop-list {
    clear: both;
    > p.none-scheduled,
    > p.loading {
      display: none;
    }
    &.workshop-list-empty > p.none-scheduled {
      display: block;
    }
    &.loading > p.loading {
      display: block;
    }
    .article-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
      gap: 1rem;
      align-items: flex-start;
      article {
        box-shadow: 1px 2px 5px 0 var(--shadow-colour);
        border-radius: .25rem;
        padding: 1rem;
        img {
          float: left;
          border-width: 0 1em 1em 0;
          max-height: 10rem;
        }
        p {
          margin: 0.5rem 0;
        }
        a.button {
          display: inline;
          font-size: .5rem;
          margin-left: 0;
          padding: .1rem 0.3rem;
          @media (min-width: $breakpoint-tablet) {
            font-size: .8rem;
            margin: 0 1em;
            padding: .1rem 1rem;
          }
          letter-spacing: .15rem;
          white-space: nowrap;
          border-width: 1px;
          text-decoration: none;
          text-align: center;
        }
        div.event-details {
          clear: both;
          margin-top: 1rem;
          padding: 0.5rem 1rem;
          background-color: var(--highlight3-colour-faded);
        }
        ul {
          margin-top: 0;
        }
        li {
          margin: 0;
        }
      }
    }
  }
}

/*****************************************************
 * Helper styles
 *****************************************************/

/* Banner image slideshow general styling */
body.withbanner {
  background-color: rgb(27, 45, 75);
  main {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 3em 20%;
  }
}
ul.banner-slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  list-style: none;
  overflow: hidden;
  li span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
  }
}
.banner-content {
  position: relative;
  z-index: 1;
  font-size: 1.3em;
  padding: .5em 1em;
  color: white;
  border: 1px solid rgb(27, 45, 75);
  background-color: rgba(0,0,0, 0.3);
  a {
    color: white;
    text-decoration: underline dashed;
    &:hover {
      text-decoration: underline;
    }
  }
}

 /* Fontawesome social buttons */
.fa {
  margin-right: .5em;
  padding: .5em;
  font-size: 1.5em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
  &.fa-facebook {
    background: #3B5998;
    color: white;
  }
  &.fa-twitter {
    background: #55ACEE;
    color: white;
  }
}


/*****************************************************
 * page sepcific styles
 *****************************************************/

// workshops page
aside.testamonials {
  display: inline-block; // otherwise margin of contained blockquotes overflows
  background-color: var(--highlight2-colour);
  margin-bottom: 2rem;
}
