<footer>
  <a href="#" target="_blank" class="fa fa-twitter" id="share_twitter" title="Share to twitter"></a>
  <a
    href="#"
    target="_blank"
    class="fa fa-facebook"
    id="share_facebook"
    title="Share to facebook"
  ></a>
</footer>
