<header>
  <h1>
    <a href="/"><img src="img/logo.svg" /></a>
  </h1>
  <div id="menu_collapser">Menu</div>
  <nav id="menu">
    <ul>
      <li class="{{#if pagename.is.index}}selected{{/if}}"><a href="index">Home</a></li>
      <li class="{{#if pagename.is.about}}selected{{/if}}"><a href="about">About</a></li>
      <li class="{{#if pagename.is.workshops}}selected{{/if}}">
        <a href="workshops">Workshops</a>
      </li>
      <li class="{{#if pagename.is.exhibitions}}selected{{/if}}">
        <a href="exhibitions">Exhibitions</a>
      </li>
      <li class="{{#if pagename.is.gallery}}selected{{/if}}"><a href="gallery">Gallery</a></li>
      <li class="{{#if pagename.is.contact}}selected{{/if}}"><a href="contact">Contact</a></li>
    </ul>
  </nav>
</header>
