  <header>
    <h1><a href="/"><img src="img/logo.svg"></a></h1>
    <div id="menu_collapser">Menu</div>
    <nav id="menu">
      <ul>
        <li{{#if pagename.index}} class="selected"{{/if}}><a href="index.html">Home</a></li>
        <li{{#if pagename.about}} class="selected"{{/if}}><a href="about.html">About</a></li>
        <li{{#if pagename.workshops}} class="selected"{{/if}}><a href="workshops.html">Workshops</a></li>
        <li{{#if pagename.festival}} class="selected"{{/if}}><a href="festival.html">Festival '21</a></li>
        <li{{#if pagename.gallery}} class="selected"{{/if}}><a href="gallery.html">Gallery</a></li>
        <li{{#if pagename.contact}} class="selected"{{/if}}><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>