{{#wrap "wrapper"}}
  <h1>About</h1>

  <img src="img/monir.jpg" class="main">

  <p>I am Monir, originally from Persia (Iran), where I worked in Mashhad’s Cultural Heritage organisation for over six years. I also ran pottery and ceramics groups.</p>
  <p>When I moved to England in 2010, I trained to become a primary school teacher and started working in a school. But soon began to miss my passion for pottery. I left the school to set up Beauty of Clay, a social enterprise.</p>
  <p>I believe working with clay can have a therapeutic effect with lots of amazing benefits. I'm hoping to provide exposure to, and understanding of, Persian design principles. And through this to encourage and teach people to develop a sensitivity and understanding of the medium, and express this in their own creations.</p>

  <h2>Follow Me</h2>
  <p>You can find out more on <a href="https://www.facebook.com/monirpottery/" target="new">my Facebook page</a> or see more examples of my work on <a href="https://www.instagram.com/beautyofclay21/" target="new">Instagram</a>.</p>
  
{{/wrap}}