{{#wrap "wrapper"
  gallery=true
}}

  <h1>Exhibitions</h1>

  <h2>Brighton Festival '22</h2>
  <p>As part of Brighton Festival 2022, I had a Persian Tile exhibition at the library throughout May, as well as holding several tile workshops.</p>

  {{{include "gallery" galleryID="festivalmay22" galleryImages=festivalmay22 baseURL=baseURL}}}

  <h2>Hangleton Our Place, part of Brighton Festival 2021</h2>
  <p>In Persian culture the sun symbolises life, light, hope and happiness. This concept is beautifully express throughout Persian tile design. This collection of Persian tile were created over three months in preparation for the May Brighton Festival 2021 and have been exhibited in Hangleton library for duration of May as part of our place Hangleton.</p>

  {{{include "gallery" galleryID="festival21" galleryImages=festival21 baseURL=baseURL}}}
  
  <h2>Instagram</h2>
  <p>Further examples of my work are also available on <a href="https://www.instagram.com/beautyofclay21/" target="new">Instagram</a></p>

{{/wrap}}