{{#wrap "wrapper" banner_slideshow=true }}

<ul class="banner-slideshow">
  {{#each slideshow.images}}
  <li><span></span></li>
  {{/each}}
</ul>

<div class="banner-content">
  <h1>Home</h1>

  <p>
    <em>Beauty of Clay</em> is an award winning social enterprise, started in 2018 in Hangleton
    &amp; Knoll, Hove, with the support of
    <a href="https://www.hkproject.org.uk">the Hangleton &amp; Knoll Project</a> and funding from
    <a href="https://www.unltd.org.uk/">UNLtd</a>, running affordable pottery workshops for people
    of all ages, specially tailored to the needs of local residents.
  </p>
  <p>
    The vision behind this enterprise is to share insights into Persian culture with people in the
    UK, and give participants exposure to the intimacy, richness and beauty of Persian ceramic art
    and design.
  </p>
</div>

{{/wrap}}
