{{#wrap "wrapper"
  gallery=true
}}
  <h1>Workshops</h1>

  <img src="img/gallery/gallery17.jpg" alt="">

  <h2>Workshop Information</h2>
  <ul>
    <li>Workshops are suitable for all ages, including children</li>
    <li>Bespoke and individual sessions with you in your home</li>
    <li>Workshops for family groups with adults and children working together</li>
    <li>Workshops for birthday parties, business events, groups of friends.</li>
    <li>1-2-1 guiding in any design for your home if you have a specific project to work on.</li>
    <li>No experience is necessary and all materials are provided.</li>
  </ul>

  <h2>Upcoming workshops</h2>

  <h3>Private workshop sessions</h3>
  <dl>
    <dt>Ceramic Coffee Table Workshops</dt>
    <dd>
      In this five week course you will learn the key elements of Persian Ceramic design and how to create &amp; draw with glaze. At the end of the course you will make your own unique ceramic coffee table. The cost for wooden table will included in the course fee.<br>
      <strong>Duration</strong>: 5 weeks<br>
      <strong>Fee</strong>: £210<br>
      <strong>Location</strong>: 28 Chichester Close, BN3 8ET, Hove<br>
    </dd>
    <dt><img src="img/gallery/IMG_0050.jpg">Ceramic Cheese board</dt>
    <dd>
      This is an exciting &amp; challenging course suitable for all levels. In this workshop you can shape, design and glaze your own unique cheese board.<br>
      <strong>Duration</strong>: 2 weeks<br>
      <strong>Fee</strong>: £60<br>
    </dd>
    <dt>Persian Ceramic Tray</dt>
    <dd>
      In this 3 hours workshop you will design and glaze your unique ceramic tray. The cost for wooden tray will included in the course fee.<br>
      <strong>Duration</strong>: 1 day<br>
      <strong>Fee</strong>: £60<br>
    </dd>
    <dt>Persian Tile Making Workshop</dt>
    <dd>
      Come and make a your own unique tile to add it to your decoration. You can bring your paper pattern or simply choose from mine. Your tile will fire &amp; glaze after a week and will be ready to go home with you.<br>
      <strong>Date</strong>: Every Sunday starting 06/11/21<br>
      <strong>Time</strong>: 3pm-4:30pm<br>
      <strong>Fee</strong>: £30
    </dd>
  </dl>
  
  <h3>Public community pottery workshop</h3>
  <dl>
    <dt>Christmas Decorations Workshop </dt>
    <dd>
      Join us for celebration of Christmas by making your own unique ceramic decorations. You can make as much as you like but only 10 pieces of your choice will be fired and glazed and will handed over to you after a week.<br>
      <strong>Date</strong>: Monday to Friday :15/11/21 - 26/11/21<br>
      <strong>Time</strong>: 4pm-5pm<br>
      <strong>Fee</strong>: £15
    </dd>
    <dt>Pottery workshop with Monir</dt>
    <dd>
      This pottery session will include different sorts of things to make. Every week we will try a new hand build piece of pottery. This session will be suitable for any age above 4 years old.<br>
      <strong>Date</strong>: start on 05/11/21 every Thursday<br>
      <strong>Time</strong>: 4pm-5pm<br>
      <strong>Fee</strong>: £7 plus £5 if you decided to fire and glaze your piece.<br>
    </dd>
  </dl>

  <h2>Join a workshop</h2>
  <p>If you are interested in joining a workshop, or booking a workshop for your event, birthday party, business or group, please <a href="/contact.html">contact me</a></p>
  <p>Bespoke workshops require one month advance booking.</p>


  <h2>Follow Me</h2>
  <p>You can find out more on <a href="https://www.facebook.com/monirpottery/">my Facebook page</a> or search @monirpottery on Facebook.</p>

  <aside class="testamonials">
    <blockquote>Thanks for a great afternoon workshop, we all had a wonderful time making Christmas decorations - Toby (age 4) Kiri (age 6), Kate</blockquote>
    <blockquote>Fantastic workshop, thank you Monir! We always enjoy your classes, cannot wait to collect our decorations! - Jo, Paloma xx </blockquote>
    <blockquote>Very fun and creative, my daughter loves it. Learn something new and practical. Every time it has been so great, so relaxing. Monir you are a great teacher. - Olivia x. </blockquote>
    <blockquote>It was sooo fun! Really relaxing, creative and you can make whatever you want. - Betty (age 12)</blockquote>
    <blockquote>Thank you Monir, such a lovely relaxing space with nice people, thank you for taking me out of my comfort zone! xx - Andy (age 51)</blockquote>
  </aside>

  {{{include "gallery" galleryID="workshopgallery" galleryImages=workshopImages baseURL=baseURL}}}


{{/wrap}}