{{#wrap "wrapper"
  gallery=true
}}
  <h1>Workshops</h1>

  <img src="img/gallery/2021_023.jpg" alt="">
  
  <p>The Workshops I run are suitable for all ages, including children, and there are a variety of different types or workshops to suit all needs and budgets, including:</p>
  <ul>
    <li>Regular <a href="#community-workshops">Public Community Pottery Workshops</a> in community spaces. These are great for families working together or as a taster session.</li>
    <li>Themed <a href="#private-workshops">Private Workshop Series</a> where over the course of a few sessions I will help you design and create your own pieces to take home.</li>
    <li>I can also arrange to do bespoke and individual sessions with you in your home at very reasonable prices. This would be suitable for e.g. birthday parties, business events, groups of friends, or if you would like 1-2-1 guidance in a design, or if you have a specific project you would like to work on. Please <a href="/contact.html">contact me</a> to let me know what you would like.</li>
  </ul>

  <p>In all cases, no experience is necessary and all materials are provided. <a href="#workshop-examples">Examples of some previous workshops</a> as well as some customer <a href="#testamonials">testamonials</a> are also below</p>

  <a href='https://www.kayak.co.uk/Hove.44286.guide' target='_blank' class="kayaklink"><img src='https://www.kayak.com/news/badge/kk/tg010.png' /></a>	

  <section class="workshop-list loading" id="private-sessions">
    <h2><a name="private-workshops">Private Workshop Sessions</a></h2>
    <p class="loading">Loading events...</p>
    <p class="none-scheduled">None currently scheduled. Please <a href-"contact.html">contact me</a> or check back later.</p>
    <div class="article-grid"></div>
  </section>

  <section class="workshop-list loading" id="community-sessions">
    <h2><a name="community-workshops">Public Community Pottery Workshop</a></h2>
    <p class="loading">Loading events...</p>
    <p class="none-scheduled">None currently scheduled. Please <a href-"contact.html">contact me</a> or check back later.</p>
    <div class="article-grid"></div> 
  </section>

  <h2><a name="workshop-examples">Workshop Examples</a></h2>
  {{{include "gallery" galleryID="workshopgallery" galleryImages=workshopImages baseURL=baseURL}}}

  <h2><a name="testamonials">Testamonials</a></h2>
  <aside class="testamonials">
    <blockquote>Thanks for a great afternoon workshop, we all had a wonderful time making Christmas decorations - Toby (age 4) Kiri (age 6), Kate</blockquote>
    <blockquote>Fantastic workshop, thank you Monir! We always enjoy your classes, cannot wait to collect our decorations! - Jo, Paloma xx </blockquote>
    <blockquote>Very fun and creative, my daughter loves it. Learn something new and practical. Every time it has been so great, so relaxing. Monir you are a great teacher. - Olivia x. </blockquote>
    <blockquote>It was sooo fun! Really relaxing, creative and you can make whatever you want. - Betty (age 12)</blockquote>
    <blockquote>Thank you Monir, such a lovely relaxing space with nice people, thank you for taking me out of my comfort zone! xx - Andy (age 51)</blockquote>
  </aside>



{{/wrap}}