/*
Palette
  background                : #1491ad
  text                      : #EDED48
  section border            : #1186a0
  sitename & nav highlight  : #234cbc
  nav & heading text        : #2C313F
  text shadow               : #106c81
*/

* {
  box-sizing: border-box;
}

body {
  background-color :#1491ad;
  font-family: "Josefin Sans",sans-serif;
  color: #EDED48;
}

/* Header styles */

header {
  border-bottom: 1px solid #1186a0;
  color : #2C313F;
}
header::before,
header::after {
  content: " ";
  display: table;
  clear: both;
}

header h1 {
  float: left;
  margin: 1em 1em 0;
  padding: 0;
  font-size: 1.5em;
}
@media only screen and (min-width: 620px) {
  header h1 {
    font-size: 2.5em;
  }
}

header h1 a {
  font-family: "Playfair Display",serif;
  color: #234cbc;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

header #menu_collapser {
  display: block;
  float: right;
  margin: 1em;
  padding: .2em;
  font-size: 1.2em;
  background-color: #234cbc;
  color: #1491ad;
  border-radius: 1em;
  line-height: 1.5em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-width: 620px) {
  header #menu_collapser {
    margin: 1.8em 2em 1.8em 0;
    font-size: 1.5em;
    display: none;
  }
}

header nav {
  clear: both;
}
header nav.collapsed {
  display: none;
}
@media only screen and (min-width: 620px) {
  header nav {
    display: block !important; /* override collapsed rule */
    clear: none;
    float: right;
    margin: 2em;
    padding: 0;
  }
}

header nav ul {
  margin: 0;
  padding: 0 0 0 2em;
}
header nav ul li {
  margin-right: 1em;
  display: block;
}
@media only screen and (min-width: 620px) {
  header nav ul li {
    display: inline-block;
    border-bottom: 2.5px solid #1491ad;
  }
}
header nav ul li.selected,
header nav ul li:hover {
  display: list-item;
}
@media only screen and (min-width: 620px) {
  header nav ul li.selected,
  header nav ul li:hover {
    display: inline-block;
    border-bottom: 2.5px solid #234cbc;
  }
}
header nav ul li a {
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #2C313F;
}
@media only screen and (min-width: 985px) {
  header nav ul li a {
    font-size: 1.5em;
    line-height: 2.5em;
  }
}
header nav ul li:hover a {
  color: #234cbc;
}

/* Main styles */

main, footer {
  width: 90%;
  margin: 2em auto;
}
@media only screen and (min-width: 985px) {
  main, footer {
    width: 60%;
    margin: 3em auto;
  }
}

main h1 {
  font-family: 'Tangerine', serif;
  color : #2C313F;
  font-size: 3em;
  font-weight: 100;
  text-shadow: 4px 4px 4px #106c81;
  margin:.3em 0;
}
@media only screen and (min-width: 620px) {
  main h1 {
    font-size: 4em;
  }
}
@media only screen and (min-width: 985px) {
  main h1 {
    font-size: 7em;
  }
}
main h2 {
  font-family: "Playfair Display",serif;
  font-size: 1.2em;
}
@media only screen and (min-width: 985px) {
  main h2 {
    font-size: 1.7em;
  }
}

main p {
  font-size: 1em
}
@media only screen and (min-width: 985px) {
  main p {
    font-size: 1.5em
  }
}
main a {
  color: #EDED48;
}
main a:hover {
  text-decoration: none;
}

main img {
  float:left;
  margin: 0 1em 1em 0;
  max-width: 50%;
}

main.gallery img {
  float: none;
  display: block;
  max-width: 100%;
  margin: 1em auto;
}





/* Fontawesome social buttons */
.fa {
  padding: .5em;
  font-size: 1.5em;
  width: 2em;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}