/*
Palette
  header background         : "Navy Peony" rgb(27, 45, 75)
  body background           : "Dusty Turquoise" rgb(83,136,142)
  nav text                  : #CCC
  links & nav highlight     : "Lemon curry" rgb(192, 148, 41)
  text                      : #EEE

  media query breakpoints
  670px, 985px
*/


* {
  box-sizing: border-box;
}

body {
  background-color :rgb(83,136,142);
  font-family: "Open Sans",sans-serif;
  color: #EEE;
}

/* Header styles */

header {
  background-color :rgb(27, 45, 75);
}
header::before,
header::after {
  content: " ";
  display: table;
  clear: both;
}

header h1 {
  float: left;
  margin: 15px 0 15px 1em;
  padding: 0;
}
header h1 img {
  height: 56px;
  padding: 0;
  margin: 0;
  display:block;
}
@media only screen and (min-width: 670px) {
  header h1 img {
    height: 70px;
  }
}
@media only screen and (min-width: 985px) {
  header h1 img {
    height: 96px;
  }
}

header #menu_collapser {
  display: block;
  float: right;
  margin: 2em;
  padding-bottom: .4em;
  color: #EEE;
  border-bottom: 1px solid #EEE;
  transition: color .3s, border-color .3s;
  cursor: pointer;
}
header #menu_collapser:hover,
header #menu_collapser.open {
  color: rgb(192, 148, 41);
  border-bottom-color: rgb(192, 148, 41);
}
@media only screen and (min-width: 670px) {
  header #menu_collapser {
    display: none;
  }
}

header nav {
  clear: both;
}
header nav {
  display: none;
}
header nav.open {
  display: block;
}
@media only screen and (min-width: 670px) {
  header nav {
    display: block !important;
    clear: none;
    float: right;
    margin: 2em 2em 2em 0;
    padding: 0;
  }
}
@media only screen and (min-width: 985px) {
  header nav {
    margin-top: 2.7em;
  }
}

header nav ul {
  margin: 0;
  padding: 0 0 0 2em;
}
header nav ul li {
  margin-right: 1em;
  display: block;
  text-align:center;
}
@media only screen and (min-width: 670px) {
  header nav ul li {
    display: inline-block !important; /* override .selected rule */
    border-bottom: 1px solid #EEE;
  }
  header nav ul li.selected,
  header nav ul li:hover {
    border-bottom-color: rgb(192, 148, 41);
    transition: border-color .3s;
  }
}
header nav ul li a {
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #EEE;
  transition: color .3s;
}
header nav ul li.selected a,
header nav ul li:hover a {
  color: rgb(192, 148, 41);
}

/* Main styles */

main, footer {
  width: 90%;
  margin: 2em auto;
}
@media only screen and (min-width: 985px) {
  main, footer {
    width: 60%;
    margin: 3em auto;
  }
}

main h1 {
  font-size: 2em;
  font-weight: lighter;
  margin:.3em 0;
}
@media only screen and (min-width: 670px) {
  main h1 {
    display: none;
  }
}

main h2 {
  font-size: 1em;
}
@media only screen and (min-width: 670px) {
  main h2 {
    font-size: 1.2em;
  }
}

main p {
  margin-bottom: 2em;
}
main p, main li {
  font-size: .8em;
  line-height: 1.7em;
}
@media only screen and (min-width: 670px) {
  main p, main li {
    font-size: 1em;
  }
}
main a {
  color: rgb(192, 148, 41);
}
main a:hover {
  text-decoration: none;
}

main ul {
  list-style: square;
  overflow: auto;
  padding-left: 1.5em;
}
main ul li {
  margin-bottom: .5em;
}

main img {
  float:left;
  margin: 0 1em 1em 0;
  max-width: 50%;
}

main.gallery img {
  float: none;
  display: block;
  max-width: 100%;
  margin: 1em auto;
}





/* Fontawesome social buttons */
.fa {
  padding: .5em;
  font-size: 1.5em;
  width: 2em;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}