{{#wrap "wrapper"
  gallery=true
}}
  <h1>Festival '21</h1>

  <p>In Persian culture the sun symbolises life, light, hope and happiness.This concept is beautifully express throughout Persian tile design. This collection of Persian tile were created over three months in preparation for the May Brighton Festival 2021 and have been exhibited in Hangleton library for duration of May as part of our place Hangleton.</p>

  {{{include "gallery" galleryID="festivalgallery" galleryImages=festivalImages baseURL=baseURL}}}
  
{{/wrap}}